.login {
    display: grid;
    place-items: center;
    height: 100vh;
    user-select: none;
    // position: relative;
    background-color: #f2f2f2;
    &__container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        img {
            object-fit: contain;
            height: 200px;
        }
        h3 {
            font-size: 55px;
            text-align: center;
            color: rgb(88, 88, 88);
            padding: 10px;
        }
    }
    &__button {
        border: none;
        text-align: center;
        margin-top: 10px;
        button {
            background-color: #fff;
            border: 2px solid rgb(28, 87, 177);
            border-radius: 10px;
            cursor: pointer;
            padding: 2px;
            font-size: 17px;
            margin: 0 auto;
            font-weight: 600;
        }
        img {
            margin-top: 5px;
            height: 80%;
            width: 80%;
        }
    }
    #btn {
        width: 150px;
    }
    &__footer {
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        span {
            color: rgb(60, 123, 196);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}