.mail {
    flex:1;
    background-color: whitesmoke;
    margin-top: 5px;
    max-height: 89vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 15px;

    &::-webkit-scrollbar {
        display: none;
    }

    &__tools {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 888;
        justify-content: space-between;
        background-color: white;

    }

    &__toolsLeft {
        display: flex;
    }

    &__body {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 20px;
        height: 100vh;
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
    }

    &__bodyHeader {
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid whitesmoke;
        position: relative;

        h2 {
            font-weight: 400;
            margin-right: 20px;
        }

        p{
            margin-left: 20px;
        }
    }

    &__important {
        color: #e8ab02 !important;
    }

    &__message {
        p {
            padding: 10px;
            margin-right: 20px;
            overflow-wrap: break-word;
        }
    }

    &__time {
        position: absolute;
        top: 24px;
        right: 0;
        font-size: 12px;
        color: gray;
    }
}